In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import (HuberRegressor, LinearRegression,Ridge,Lasso,ElasticNet,SGDRegressor)
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
import lightgbm as lgb
import xgboost as xgb
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_absolute_error, mean_squared_error,r2_score
import pickle

""loading the data""

In [2]:
dataset = pd.read_csv("USA_Housing.csv")

In [3]:
dataset.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05,USNS Raymond\nFPO AE 09386

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

""data preprocessing""

In [5]:
x = dataset.drop(['Price','Address'], axis=1)

In [6]:
y= data['Price']

NameError: name 'data' is not defined

""splitting the data""

In [ ]:
X_train, X_test, y_train, y_test= train_test_split(x,y,test_size=0.2, random_state=0)

""Defining models""

In [ ]:
models = {
    "LinearRegression": LinearRegression(),
    "RobustRegression": HuberRegressor(),
    "RidgeRegression": Ridge(),
    "LassoRegression": Lasso(),
    "ElasticNet": ElasticNet(),
    "PolynomialRegression": Pipeline([('poly ', PolynomialFeatures(degree=4)),
                                      ('linear', LinearRegression())]),

    "SGDRegressor": SGDRegressor(),
    "ANN": MLPRegressor(hidden_layer_sizes=(100,100,100), max_iter=500),
    "RandomForest": RandomForestRegressor(),
    "SVM": SVR(),
    "LGBM": lgb.LGBMRegressor(),
    "XGBoost": xgb.XGBRegressor(),
    "KNN": KNeighborsRegressor()
}

""Training and evaluating models""

In [ ]:
results = []

for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)

    mae = mean_absolute_error(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)

    results.append({
        "Model": name,
        "MAE": mae,
        "MSE": mse,
        "R2": r2
    })

    with open(f"{name}.pkl", "wb") as f:       
        pickle.dump(model, f)

""convert result to dataframe and save to csv""

In [ ]:
results_df = pd.DataFrame(results)
results_df.to_csv("model_performance.csv", index = False)
print(results_df)

In [ ]:
print("Models have been trained and saved as pickle files.Evaluation results saved to model_performance.csv")